<div class="wrapper" name="wrapper">
  <!-- <span class="bg-animate"></span>
  <span class="bg-animate2"></span> -->
  <div class="header">
    <p class="current-date" name="current-date" style="--i:0; --j:21;"></p>
    <div class="icons" style="--i:0; --j:21;">
      <button id="prev" class="material-simbols-rounded" name="prev">
        <i class='bxr  bx-chevron-left'></i>
      </button>
      <button id="next" class="material-simbols-rounded" name="next">
        <i class='bxr  bx-chevron-right'></i>
      </button>
    </div>
  </div>
  <article class="calendar-body">
    <ul class="weeks">
      <li style="--i:0; --j:21;">Sun</li>
      <li style="--i:1; --j:22;">Mon</li>
      <li style="--i:2; --j:23;">Tue</li>
      <li style="--i:3; --j:24;">Wed</li>
      <li style="--i:4; --j:25;">Thu</li>
      <li style="--i:5; --j:26;">Fri</li>
      <li style="--i:5; --j:26;">Sat</li>
    </ul>
    <div class="days" name="days"></div>
  </article>
  <div style="--i:6; --j:27;" class="hours" name="hours"></div>
</div>