
i-calendar{
  min-width: 0;
  height: 55vh;
  min-height: 350px;
  width: 80%;
  overflow: hidden;
}

i-calendar .wrapper {
  min-width: 0;  
}

i-calendar .calendar-body .days button {
  width: 4rem;
  height: 4rem;
}

i-calendar .calendar-body{
  padding: 0;
}

i-calendar .hours{
  padding: 1rem 0.5rem 1rem 0.5rem;  
}