@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 1vw;
}

body {
  width: 100%;
  color: #ffffff;
  background-image: radial-gradient(circle closest-corner, #060A33, #000000);  
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: hidden;  
  font-weight: 500;
}

input{
  background-color: transparent;
}

h1,
h2 {
  line-height: 1.2;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 3.5rem;
}

.strong{
  display: inline-block;
  background-color:#101A88;
}


.btn {
  padding-block: 1rem;
  width: clamp(100px, 20vw, 350px);
  color: #fff;
  font-weight: 700;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  transition: 0.3s;
  line-height: 1.5;
  text-align: center;
  font-size: 1rem;
}

.btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, transparent, #fff, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #101A88;
  box-shadow: 0 0 20px 5px #101A88;
}

.btn:hover::before {
  transform: translateX(100%);
}

#menu-icon {
  font-size: 2.25rem;
  color: #fff;
  display: none;
}